In [3]:
import sqlite3
import pandas as pd

In [6]:
#View all the different tables.
con = sqlite3.connect("kaggle_dataset.sqlite")
df = pd.read_sql_query("SELECT * from sqlite_master", con)
con.close();

In [10]:
df.head()

,type,name,tbl_name,rootpage,sql
0,table,spatial_ref_sys,spatial_ref_sys,2,CREATE TABLE spatial_ref_sys (\nsrid INTEGER N...
1,index,idx_spatial_ref_sys,spatial_ref_sys,3,CREATE UNIQUE INDEX idx_spatial_ref_sys \nON s...
2,table,spatialite_history,spatialite_history,4,CREATE TABLE spatialite_history (\nevent_id IN...
3,table,sqlite_sequence,sqlite_sequence,5,"CREATE TABLE sqlite_sequence(name,seq)"
4,table,geometry_columns,geometry_columns,6,CREATE TABLE geometry_columns (\nf_table_name ...